<form class="form">
  <input type="text" placeholder="City" class="city" />
  <p class="formText">OR</p>
  <input class="latitude" type="text" placeholder="Latitude" />
  <input class="longitude" type="text" placeholder="Longitude" />
  <button>Search</button>
</form>
